
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <img src="assets/images/homepage.jpg" alt="Description of the image" class="img-fluid rounded">
      </div>
    </div>
  </div>
  <br>
  <div class="row mt-3 justify-content-center bg-light p-3 rounded">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create Jobs</h5>
          <p class="card-text">Effortlessly add new job postings to your website. Streamline the hiring process by providing comprehensive details about job openings.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Update Jobs</h5>
          <p class="card-text">Effortlessly add new job postings to your website. Streamline the hiring process by providing comprehensive details about job openings.</p>          
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Delete Jobs</h5>
          <p class="card-text">Remove outdated or filled job listings from your website effortlessly. Maintain a clean and organized job board to provide users with relevant and current opportunities.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2>About Us</h2>
        <p>Welcome to RippleHire Job Posting App, the ultimate destination for job seekers and employers alike. Our platform offers a seamless experience, connecting talented individuals with exciting career opportunities and helping businesses find the perfect candidates for their job openings.</p>
        <p>At RippleHire, we're dedicated to simplifying the job search process, making it easier for both job seekers and employers to find what they're looking for. With our user-friendly interface and comprehensive features, finding a job or hiring the right candidate has never been easier.</p>
        <p>Whether you're a job seeker exploring new career opportunities or an employer looking to expand your team, Job Posting App is here to support you every step of the way. Join our community today and take the next step towards achieving your professional goals!</p>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>