

<div class="container">
    <h4> Company List</h4>    
    <table class = "table table-striped table-hover ">
        <thead>
            <tr>            
                <th> Company Name</th>
                <th> Job offered by the company</th>   
                <th> Job location</th>                
                <th> Company Address </th>    
                <th> Industry Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let job of jobs" >            
                <td> {{job.company}} </td>
                <td> {{ job.jobTitle}} </td>                  
                <td> {{ job.location}} </td>                   
                <td> {{ job.companyObj.address}} </td>         
                <td> {{ job.companyObj.industry}} </td>                          
            </tr>
        </tbody>
    </table>            
</div>